*{
  outline: 0;
  box-sizing: border-box;
  color: white;
}
.menu-area li a {
  text-decoration: none;
}
.menu-area li {
  list-style-type: none;
}

nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  text-align: right;
  padding-right: 2%;
}
.logo {
    width: 15%;
    float: left;
    padding: 18px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}
.menu-area li {
    display: inline-block;
}
.menu-area a {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 17px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    transition: 0.25s;
}
.menu-area a:hover {
  background: -webkit-linear-gradient(#a410ff, #3161ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
}
